<section class="wish-section" [attr.aria-labelledby]="headingId()">
  <header class="wish-section__header">
    <div>
      <h2 class="wish-section__title" [id]="headingId()">{{ title() }}</h2>
      @if (subtitle().length > 0) {
        <p class="wish-section__subtitle">{{ subtitle() }}</p>
      }
    </div>
    <div class="wish-section__actions">
      <ng-content select="[section-actions]" />
    </div>
  </header>

  <div class="wish-section__stats">
    <ng-content select="[section-stats]" />
  </div>

  <div class="wish-section__content">
    <ng-content />
  </div>
</section>
